body
{
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 12px;
    background: url(https://skyward.sripley.k12.in.us/webspeed/login_bg.png) repeat-x scroll 0 0 #F9F7F9 !important;
}

.pageHeader
{
    align-items: center;
    align-content: center;
    text-align: center;
}

.loginBoxWrap /* outside box */
{
    padding: 50px;
    margin: 0;
    height: 490px;
    width: 50%;
}

.loginHeaderWrap /* white box */
{
    background-color: #F9F7F9;
    padding: 10px;
    margin: 0;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 450px;
    height: 150px;
    font-family:'Times New Roman', Times, serif;
    font-size: 11px;
    color: cadetblue;
}

.loginBodyWrap /* gray box */
{
    background-color: rgb(238, 238, 238);
    padding: 10px;
    width: 450px;
    height: 200px;
    text-align: center;
}



.loginButton
{
    align-self:
}